* {
    font-family: 'Work Sans', sans-serif;
}

.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

.main-despacho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.main-despacho h1{
    font-size: 20px;
}

.main-despacho h2{
    font-size: 15px;
}

.main-despacho h3{
    font-size: 13px;
}

.main-despacho p{
    font-size: 10px;
    line-height: 1.5; 
}

.columna1 {
    grid-column: 1;
    margin-left: 210px;
    text-align: left;
    margin-bottom: 70px;
}

.columna2 {
    grid-column: 2;
    margin-left: 10px;
    margin-right: 210px;
    text-align: left;
}

ol {
    padding-left: 0;
}

li {
    margin-left: 0;
}  

.box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: start;
    background-color: #F4F6F7;
}

.box img {
    max-width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20%;
}

.nav-despacho ul{
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    margin-bottom: 20px;
}

.nav-despacho ul li {
    display: block; 
}

.nav-despacho ul li a {
    display: block; 
    color: red; 
    text-decoration: none;
    font-size: 10px; 
}

.cine-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
}

.cine-videos iframe {
    width: 80%;
    height: 100%;
}

.circular-img {
    display: inline-block;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
}

.divider {
    border-top: 1px dotted black;
}

.title-img, date-img{
    display: inline-block;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    color: #000;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

header p a{
    text-align: center;
    font-size: 30px;
    letter-spacing: -2px;
}

header p a span{
    font-weight: bold; 
}

header a {
    text-decoration: none;
    color: black;
}

.nav-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-header li {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.image-container h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    font-size: 40px;
    font-weight: normal; 
    text-align: center;
}

.image-container h1 span {
    display: block;
}

.figure-container figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px; 
    box-sizing: border-box; 
    text-align: left;
}

.figure-date{
    font-size: 13px;
}

.figure-container figure figcaption h3 {
    font-size: 20px; 
    color: red;
    margin: 10px 0;
}

.figure-container figure figcaption p a {
    text-decoration: none;
    font-size: 13px; 
    color: red;
    text-align: left;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 10px 0;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: -10px;
}

.main-aplicaciones{
    text-align: left;
}

.main-aplicaciones a{
    text-decoration: none;
    color: red;
}

.main-aplicaciones a:not(.discord) {
    font-size: 10px;
    font-weight: bold; 
}

.text-container p {
    text-align: left;
}

.text-container p span {
    font-weight: bold;
}

.text-container h2 {
    font-size: 20px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7 {
  background-color: #F4F6F7;
  padding: 10px;
  margin: 30px;
}

.cine-main {
    margin: 0 160px;
    margin-bottom: 50px;
}

.cine-videos iframe {
    width: 100%;
    height: 230px;
}

.cine-videos figure figcaption span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
    background-color: #F4F6F7;
    font-size: 13px;
}

.cine-videos figure figcaption {
    text-align: left;
    background-color: #F4F6F7;
    font-size: 13px;
    padding: 10px;
}

.cine-videos figure figcaption span{
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    display: inline;
    text-align: left;
}
  
/* Large devices */
@media (min-width: 992px) {
    header {
        padding-left: 15%;
        padding-right: 15%;
    }

    .nav-header ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;
        justify-content: flex-start;
    }
    
    .text-container {
        width: 50%;
        margin: 0 auto;
    }

    .figure-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .figure-container figure figcaption p {
        width: auto;
    }

    .figure-container figure figcaption h3 {
        width: auto;
    }

    .figure-container figure figcaption p a {
        width: auto;
    }

    main figure {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    main figure img {
        height: 170px;
        width: auto;
        margin: 20px auto;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    footer {
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;
    }

    .main-aplicaciones {
        padding-left: 15%;
        padding-right: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .container-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-4 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-5 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-6 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-7 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .cine-videos {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .title {
        margin-left: 25%;
    }

    header p {
        text-align: center;
    }

    .nav-header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container p{
        width: 100%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container h2{
        width: 100%;
        margin-left: 30px;
        margin-right: auto;
    }

    main img {
        height: 500px;
        width: 100%;
    }

    main h1 {
        width: 50%;
    }

    main h2,
    main p {
        width: 80%;
    }

    .figure-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .figure-container figure {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .figure-container figure figcaption p {
        width: auto;
    }

    .figure-container figure figcaption h3 {
        width: auto;
    }

    .figure-container figure figcaption p a {
        width: auto;
    }

    main figure {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    main figure img{
        height: 170px;
        width: auto;
        margin: 20px auto;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-aplicaciones {
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .container-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-3 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-4 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-5 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .container-6 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    
    .container-7 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .cine-videos {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .title {
        margin-left: 15%;
    }

    header p {
        text-align: center;
    }

    .nav-header ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container p{
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container h2{
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    main img {
        height: 600px;
        width: 100%;
    }

    main h1 {
        width: 70%;
    }

    main h2,
    main p {
        width: 90%;
    }

    main figure img{
        height: 460px;
        width: auto;
        margin: 20px auto;
    }

    .figure-container figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .figure-container figure figcaption p {
        width: auto;
    }

    .figure-container figure figcaption h3 {
        width: auto;
    }

    .figure-container figure figcaption p a {
        width: auto;
    }

    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-aplicaciones {
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    
    .container-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .container-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .container-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .container-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    
    .container-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }
}

/* Small devices */
@media (max-width: 575px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .cine-videos {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .title {
        margin-left: 15%;
    }

    header p {
        text-align: center;
    }

    .nav-header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main img {
        height: 600px;
        width: 100%;
    }

    main figure img{
        height: 370px;
        width: auto;
        margin: 20px auto;
    }

    .text-container {
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container p{
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    .text-container h2{
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
    }

    main h1 {
        width: 70%;
    }

    main h2,
    main p {
        width: 90%;
    }

    main figure {
        width: 70%;
    }

    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-aplicaciones {
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    
    .container-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .container-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .container-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .container-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    .container-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    .container-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    
    .container-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }
}
